<!DOCTYPE html>
{% load static %}
{% block content %}
	

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About Us!</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<p style="text-align:center;">"At TukuweFit, we are passionate about empowering individuals to achieve their fitness goals with high-quality, reliable gym and workout equipment. Whether you're a seasoned fitness enthusiast, a personal trainer, or someone just starting their fitness journey, we strive to offer the best selection of products to suit every need.

Our mission is to provide a seamless and convenient online shopping experience, backed by a commitment to quality, customer satisfaction, and fitness excellence. We believe that the right equipment can make all the difference, and we aim to bridge the gap between your fitness aspirations and the tools you need to reach them.

With a user-friendly platform and secure payment options, TukuweFit is your trusted partner in fitness. Join us on a journey to a healthier, stronger you." </p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
{% endblock %}