{% extends 'ecom/customer_base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="/static/assets/cart.css">

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style media="screen">
  

</style>

</head>

<br><br><br><br>

<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h6 style="text-align:center;" class="panel-title">My Cart</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Description</th>
          <th>Action</th>

        </tr>
      </thead>
      {% for p in products %}
  {% if p %}

      <tr>
        <td> {{p.name}}</td>
        <td> <img src="{% static 'p.product_image.url' %}" alt="Profile Pic" height="50px" width="50px" /></td>
        <td>KES {{p.price}}</td>
        <td>{{p.description}}</td>

        <td><a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {%else%}
      <br><br><br>
      <h1>no products</h1>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
<br><br><br>
<div style="text-align: center;">
  <button class="btn btn-danger btn-lg">Total KES {{total}}</button>
  <a href="/customer-address"><button class="btn btn-success btn-lg" ><span>Purchase </span></button></a>
</div>


<br><br><br><br><br>

{% endblock content %}
